@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

	<div class="container-fluid">
		<h1>@Umbraco.Field("mainContent")</h1>
		
</div>
	