
body{
width:70%;
margin-left:15%;
margin-right:15%;
text-align:center;
}
nav{
    color:black;
    margin:0 auto;
    text-align:center;
    padding-left:300px;
}
nav li a {
    text-decoration:none;
    font-size:18px;
}
nav a:hover{
    text-decoration:none;
}
.myNav{
    text-align:center;
}
.myNav .nav .nav {
        display: none;
        position: absolute;
        box-shadow: black 1px 2px 1px;
    }
.myNav .nav .nav li{
    float:none;
    background-color:#2d2d2d;
}
.myNav .nav li:hover .nav{
    display:block;
}
fieldset input{
    padding:7px;
    border-radius:5%;
    background-color:white;
}
.contour {
 text-align:initial;
 margin-left:35%;
}
<!-- buttons  --> 
btn-sample{
         padding:5px;
     }
     btn-sample:hover{
         background-color:grey;
     }
footer{
	position: absolute;
    bottom: 0;
    width: 70%;
    height: 60px;
    background-color: #f5f5f5;
}
a{
color:black;
}
li { 
	display:inline;
	padding:10px;
	color:black;}
#members-list{
    font-size:20px;
    color:black;
}
.container{
	background-color:#f5f5f5;
}
#menu-list li{
    display:block;
    text-align:left;
}